/*****
Please use this file for all your constant

example :
$color-theme-green: #00d59c;
*****/

$main-color: #3A4350;
$secondary-color: #A0C0CB;
$main-background: #EDF2F6;


$color-danger-background: #F8D7DA;
$color-danger: #7A272E;

$color-info-background: #CCE5FF;
$color-info: $main-color;

$color-warning-background: #fff7cb;
$color-warning: #544b34;

$color-button-danger-background: #7A272E;
$color-button-danger: #F8D7DA;
