@import '../../../../assets/scss/theme';

.manage-page {
  &__header {
    background-color: $secondary-color;
    min-height: 250px;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 30px;

    &__left {
      display: flex;
      align-items: center;

      &__progress {
        font-size: 150px;
      }

      &__text {
        color: $main-color;
        font-weight: 600;
        margin-left: 30px;
      }
    }

    &__logo {
      & img {
        max-height: 100px;
        width: 100%;
      }
    }
 }

  &__content {
    display: flex;

    &__nav {
      margin: 20px;
      padding: 20px 100px 20px 40px;
      background-color: white;
      border: 1px solid $secondary-color;
      border-radius: 5px;
      list-style-type: none;
      counter-reset: index-nav;

      &__item {
        margin: 20px 0;
        display: block;
        counter-increment: index-nav;

        &:hover {
          cursor: pointer;
        }

        &:before {
          content: counter(index-nav) '. ';
        }

        &--disabled {
          color: #a2a2a2;

          &:hover {
            cursor: default;
          }
        }
      }
    }

    &__body {
      flex: 1;
      margin: 20px;
      padding: 20px;
      background-color: white;
      border: 1px solid $secondary-color;
      border-radius: 5px;

      &__header {
        display: flex;

        &__questions {
          margin-left: 20px;
          display: flex;
          flex-wrap: wrap;

          &__item {
            background-color: $main-color;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            color: white;
            margin: 0 5px;

            &:hover {
              cursor: pointer;
            }

            &--active {
              background-color: $secondary-color;
            }
          }
        }
      }

      &__alert {
        margin: 15px 0;
      }

      &__form {
        &__question {
          border: 1px solid $secondary-color;
          padding: 20px;
          margin-bottom: 30px;
        }

        &__answers {
          &__button {
            margin-top: 20px;
          }
        }
      }
    }
  }
}


@media only screen and (max-width: 1200px) {
  .manage-page {
    &__content {
      flex-direction: column;

      &__nav {
        padding: 20px;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .manage-page {
    &__content {
      &__body {
        &__form {
          &__answers {
            &__list {
              flex-direction: column;

              &__item {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .manage-page {
    &__header {
      flex-direction: column-reverse;
    }
  }
}
