<div class="manage-page">
  <div class="manage-page__header">
    <div class="manage-page__header__progress pie-wrapper progress-30">
      <span class="label">30<span class="smaller">%</span></span>
      <div class="pie">
        <div class="left-side half-circle"></div>
        <div class="right-side half-circle"></div>
      </div>
    </div>
    <div class="manage-page__header__text">
      <p class="title title--main">Bravo,</p>
      <p>Votre compte de parrainage est presque configuré</p>
    </div>
  </div>

  <div class="manage-page__content">
    <ul class="manage-page__content__nav">
      <li>
        <a (click)="changeStep(null)" class="manage-page__content__nav__item">Informations générales</a>
      </li>
      <li>
        <a (click)="changeStep(0)" class="manage-page__content__nav__item">Questionnaire</a>
      </li>
      <li>
        <a (click)="changeStep(1)" class="manage-page__content__nav__item manage-page__content__nav__item--disabled">Lancer la campagne de parrainage</a>
      </li>
      <li>
        <a (click)="changeStep(2)" class="manage-page__content__nav__item manage-page__content__nav__item--disabled">Promouvoir la campagne</a>
      </li>
    </ul>
    <div class="manage-page__content__body" *ngIf="step === null">
      <h2 class="title title--main">
        Informations générales
      </h2>
      <form>
        <div class="form-group">
          <label for="name" class="form-label">Nom de l'organisation:</label>
          <input type="text" id="name" class="form-input" />
        </div>
        <a class="button" href="#">Sauvegarder</a>
      </form>
    </div>
    <div class="manage-page__content__body" *ngIf="step === 0">
      <div class="manage-page__content__body__header">
        <h2 class="title title--main">
          Questionnaire
        </h2>
        <div class="manage-page__content__body__header__questions">
          <a class="manage-page__content__body__header__questions__item" *ngFor="let question of questions" (click)="changeSelectedQuestion(question.id)" [ngClass]="{'manage-page__content__body__header__questions__item--active': question.id === selectedQuestion}" >
            {{question.id}}
          </a>
        </div>
      </div>
      <form class="manage-page__content__body__form">
        <div class="manage-page__content__body__form__question">
          <h3 class="title title--tiercary">Question {{getSelectedQuestion().id}}:</h3>
          <div class="form-group form-group--multiple">
            <div class="form-group__item">
              <label for="godfather-{{getSelectedQuestion().id}}" class="form-label">Titre pour parrain*:</label>
              <input type="email" id="godfather-{{getSelectedQuestion().id}}" class="form-input" [value]="getSelectedQuestion().titleGodfather" />
            </div>
            <div class="form-group__item">
              <label for="godson-{{getSelectedQuestion().id}}" class="form-label">Titre pour filleul*:</label>
              <input type="email" id="godson-{{getSelectedQuestion().id}}" class="form-input" [value]="getSelectedQuestion().titleGodson" />
            </div>
          </div>
          <div class="manage-page__content__body__form__answers">
            <div *ngFor="let answer of getSelectedQuestion().answers">
              <label for="answer-{{answer.id}}" class="form-label">Reponse {{answer.id}}:</label>
              <input type="email" id="answer-{{answer.id}}" class="form-input" [value]="answer.title" />
            </div>
            <a class="button manage-page__content__body__form__answers__button" (click)="addNewAnswer(getSelectedQuestion().id)">Ajouter une reponse</a>
          </div>
        </div>
        <a class="button" (click)="addNewQuestion()">Ajouter une question</a>
      </form>
    </div>
    <div class="manage-page__content__body" *ngIf="step === 1">
      <h2 class="title title--main">
        Commencer la promotion
      </h2>
      <form>
        <div class="form-group">
          <label for="emails" class="form-label">Liste de courriels pour invitation:</label>
          <textarea id="emails" class="form-input form-input--textarea"></textarea>
        </div>
        <div class="manage-page__content__body__alert alert alert--info">
          Chaque courriel doit etre separé par une virgule (,) ou un point-virgule (;).
        </div>
        <a class="button" href="#">Lancer la campagne de parrainage</a>
      </form>
    </div>
  </div>
</div>
