@import "../../../assets/scss/theme";
@import "../../../assets/scss/easings";

.footer {
  display: flex;
  flex-direction: column;
  background-color: $main-color;
  padding: 20px;
  color: white;
  text-align: center;

  &__links {
    margin-bottom: 10px;

    &__link {
      padding: 3px 10px;
      color: white;
      text-decoration: none;
      border-bottom: 1px solid $main-color;
      transition: all $ease-inout-sine 300ms;

      &:hover {
        color: white;
        border-color: white;
      }
    }
  }
}
