<nav class="navbar" [class.responsive]="responsive">
  <a class="navbar__item navbar__item--brand title title--main" routerLink="/" (click)="closeResponsiveNavbar()">
    Twinning program
  </a>
  <div class="navbar__left">
    <a class="navbar__item" routerLink="/organizations" (click)="closeResponsiveNavbar()">Organisations</a>
  </div>
  <div class="navbar__right">
    <a class="navbar__item" routerLink="/profile" *ngIf="isAuthenticated()" (click)="closeResponsiveNavbar()">Mon profil</a>
    <a class="navbar__item" routerLink="/logout" (click)="closeResponsiveNavbar()" *ngIf="isAuthenticated()">Deconnexion</a>
    <a class="navbar__item" routerLink="/login" *ngIf="!isAuthenticated()" (click)="closeResponsiveNavbar()">Se connecter</a>
    <a class="navbar__item" routerLink="/register" *ngIf="!isAuthenticated()" (click)="closeResponsiveNavbar()">S'inscrire</a>
  </div>
  <span class="navbar__item navbar__item--icon" (click)="toogleResponsiveNavbar()">
    &#9776;
  </span>
</nav>
