<div class="register-page">
  <div class="register-page__content">
    <form (submit)="submit()" [formGroup]="registerForm">
      <div class="register-page__content__header">
        <div>
          <h1 class="title title--main">
            Créer un compte
          </h1>
        </div>
      </div>
      <div class="register-page__content__form">
        <div *ngFor="let error of errors" class="alert alert--danger">
          {{ error }}
        </div>
        <div class="form-group">
          <label for="email" class="form-label">Courriel*:</label>
          <input formControlName="email" type="email" id="email" class="form-input" />
          <div class="form-text form-text--right form-text--danger"
               *ngFor="let errorMessage of registerForm.controls['email'].getError('apiError')">
            {{ errorMessage }}
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="form-label">Mot de passe*:</label>
          <input formControlName="password" type="password" id="password" class="form-input" />
          <div class="form-text form-text--right form-text--danger"
               *ngFor="let errorMessage of registerForm.controls['password'].getError('apiError')">
            {{ errorMessage }}
          </div>
        </div>
        <div class="form-group">
          <label for="confirmation" class="form-label">Confirmation*:</label>
          <input formControlName="confirmation" type="password" id="confirmation" class="form-input" />
          <div class="form-text form-text--right form-text--danger"
               *ngFor="let errorMessage of registerForm.controls['confirmation'].getError('apiError')">
            {{ errorMessage }}
          </div>
        </div>
      </div>
      <div class="register-page__content__actions">
        <div>
          <a routerLink="/login" class="link">Se connecter</a>
        </div>
        <div>
          <button type="submit" class="button">
            Créer mon profil
          </button>
        </div>
      </div>
      <div *ngIf="!registerForm.valid && hasSubmit" class="alert alert--danger">
        Veuillez remplir tous les champs
      </div>
    </form>
  </div>
</div>

<app-my-modal name="form_terms"
              class="modal-terms"
              typeModal="success"
              (button2)="acceptTerms()">
  <div class="modal-terms__content">
    Conditions d'utilisation
  </div>
</app-my-modal>
