<div class="forgot-password-confirmation-page">
  <div class="forgot-password-confirmation-page__content">
    <div class="forgot-password-confirmation-page__content__icon">
      <i class="fas fa-envelope-open"></i>
    </div>
    <h1 class="forgot-password-confirmation-page__content__title title title--main">
      L'équipe de sauvetage est en route
    </h1>
    <p class="forgot-password-confirmation-page__content__sub-title">
      Vérifier vos courriels afin de réinitialiser votre mot de passe.
    </p>
    <a routerLink="/" class="link">
      Retour à la page d'accueil
    </a>
  </div>
</div>
