@import '../../../../assets/scss/theme';

.organization-page {
  &__header {
    background-color: $secondary-color;
    min-height: 250px;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 30px;

    &__logo {
      & img {
        max-height: 100px;
        width: 100%;
      }
    }

    &__text {
      color: $main-color;
      font-weight: 600;

      &__details {
        display: flex;
        flex-direction: column;

        &__line {
          display: flex;
          justify-content: flex-start;
          line-height: 25px;

          &__icon {
            width: 30px;
            text-align: left;
          }
        }
      }
    }
  }

  &__content {

    &__description {
      max-width: 1200px;
      padding: 20px;
      margin: auto;
      font-size: 20px;
    }

    &__actions {
      max-width: 1200px;
      padding: 20px;
      margin: auto;
      display: flex;
      justify-content: space-around;

      &__action {
        padding: 40px;

        &__button {
          margin-top: 30px;
          text-align: center;
        }
      }
    }
  }
}


@media only screen and (max-width: 1200px) {
  .organization-page {
    &__content {
      flex-direction: column;

      &__nav {
        padding: 20px;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .organization-page {
    &__content {
      &__body {
        &__form {
          &__answers {
            &__list {
              flex-direction: column;

              &__item {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .organization-page {
    &__header {
      flex-direction: column-reverse;
    }
  }
}
