<div class="organization-page">
  <div class="organization-page__header">
    <div class="organization-page__header__text">
      <p class="title title--main">{{organization.name}}</p>
      <div class="organization-page__header__text__details">
        <div class="organization-page__header__text__details__line">
          <div class="organization-page__header__text__details__line__icon">
            <i class="fas fa-tags"></i>
          </div>
          Education
        </div>
        <div class="organization-page__header__text__details__line">
          <div class="organization-page__header__text__details__line__icon">
            <i class="fas fa-map-marker-alt"></i>
          </div>
          Montréal, Canada
        </div>
      </div>
    </div>
    <div class="organization-page__header__logo">
      <img src="../../../../assets/images/logos/{{organization.logo}}" />
    </div>
  </div>

  <div class="organization-page__content">
    <div class="organization-page__content__description">
      <p>
        Et quibusdam explicabo quia sed. Earum consequuntur laborum sit aut consequatur beatae sed. Nesciunt dolore placeat fugiat enim tempore dolorum blanditiis minima. Repudiandae at temporibus enim voluptatum voluptate. Ea dolorem atque ut. Et in distinctio magni nihil qui occaecati itaque autem.      </p>
      <p>
        Necessitatibus sit natus nulla atque nemo. Autem dolores voluptatibus voluptatem velit officia consequuntur qui. Tempore rerum blanditiis amet omnis. Libero mollitia totam in repellendus est.
      </p>
    </div>
    <div class="organization-page__content__actions">
      <div class="organization-page__content__actions__action">
        <p>
          Est quae iure at quo perspiciatis explicabo. Dolorem quo nihil commodi numquam. Nobis explicabo velit consequuntur consequatur quia voluptatem delectus aliquam. Porro incidunt aut quam.
        </p>
        <div class="organization-page__content__actions__action__button">
          <a class="button" routerLink="/survey/1">Devenir parrain</a>
        </div>
      </div>
      <div class="organization-page__content__actions__action">
        <p>
          Necessitatibus sit natus nulla atque nemo. Autem dolores voluptatibus voluptatem velit officia consequuntur qui. Tempore rerum blanditiis amet omnis. Libero mollitia totam in repellendus est.
        </p>
        <div class="organization-page__content__actions__action__button">
          <a class="button" routerLink="/survey/1">Devenir filleul</a>
        </div>
      </div>
    </div>
  </div>
</div>
