<div class="register-confirmation-page">
  <div class="register-confirmation-page__content">
    <div class="register-confirmation-page__content__icon">
      <i class="fas fa-envelope-open"></i>
    </div>
    <h1 class="register-confirmation-page__content__title title title--main">
      Bienvenue!
    </h1>
    <div class="register-confirmation-page__content__sub-title">
      Verifier vos courriels afin d'activer votre compte.
    </div>
    <a routerLink="/" class="link">
      Retour à la page d'accueil
    </a>
  </div>
</div>
