<div class="home-page">
  <div class="home-page__splash-screen">
    <h1 class="home-page__splash-screen__title title title--main">
      Twinning program
    </h1>
    <h2 class="home-page__splash-screen__sub-title">
      Le parrainage n'a jamais été aussi facile
    </h2>
    <p class="home-page__splash-screen__text">
      Nous mettons en relation Parrains et Filleuls afin de leurs permettre de ce compléter et d'accomplir
      de grandes choses ensemble!
    </p>
    <div>
      <a routerLink="register" class="home-page__splash-screen__button button">
        S'inscrire maintenant
      </a>
    </div>
  </div>
  <div class="home-page__roles">
    <h1 class="home-page__roles__title title">
      Comment ça marche ?
    </h1>
    <div class="home-page__roles__list">
      <div class="home-page__roles__list__role">
        <h2 class="title title--secondary">
          Les parrains
        </h2>
        <p class="home-page__roles__list__role__text">
          Vel architecto omnis aliquam assumenda. Id amet beatae consequatur asperiores impedit aut repellat neque. Dolorem id cupiditate velit voluptatem ducimus. Tempore ea velit ad aperiam.
        </p>
        <p class="home-page__roles__list__role__text">
          Sed corrupti et tempore qui atque quaerat dolores molestias. Consequuntur ratione dolor sed. Eum laboriosam ratione eligendi molestiae enim recusandae necessitatibus illo. Fugit maxime omnis sed repudiandae eos.
        </p>
        <p class="home-page__roles__list__role__text">
          Voluptatem molestiae eos minima deleniti dolorum rem. Voluptates blanditiis magnam dolorem totam et id delectus. Accusantium autem quos qui. Facere aut facere quas est nemo sit quaerat ut. Ab omnis porro sed atque.
        </p>
      </div>
      <div class="home-page__roles__list__role">
        <h2 class="title title--secondary">
          Les filleuls
        </h2>
        <p class="home-page__roles__list__role__text">
          Vel architecto omnis aliquam assumenda. Id amet beatae consequatur asperiores impedit aut repellat neque. Dolorem id cupiditate velit voluptatem ducimus. Tempore ea velit ad aperiam.
        </p>
        <p class="home-page__roles__list__role__text">
          Sed corrupti et tempore qui atque quaerat dolores molestias. Consequuntur ratione dolor sed. Eum laboriosam ratione eligendi molestiae enim recusandae necessitatibus illo. Fugit maxime omnis sed repudiandae eos.
        </p>
        <p class="home-page__roles__list__role__text">
          Voluptatem molestiae eos minima deleniti dolorum rem. Voluptates blanditiis magnam dolorem totam et id delectus. Accusantium autem quos qui. Facere aut facere quas est nemo sit quaerat ut. Ab omnis porro sed atque.
        </p>
      </div>
    </div>
  </div>
  <div class="home-page__functionnalities">
    <h1 class="home-page__functionnalities__title title">
      Pourquoi Twinning program est si efficace ?
    </h1>
    <div class="home-page__functionnalities__item">
      <div class="home-page__functionnalities__item__icon">
        <i class="fas fa-rocket fa-4x"></i>
      </div>
      <div class="home-page__functionnalities__item__explanation">
        <h2 class="title title--secondary">
          Rapide d'utilisation
        </h2>
        <ul>
          <li class="home-page__functionnalities__item__explanation__text">
            Il ne vous faut que quelques minutes pour mettre en ligne votre processus de parrainage et
            personnaliser vos questionnaires.
          </li>
          <li class="home-page__functionnalities__item__explanation__text">
            Les questionnaires sont déjà pré-remplis avec les questions concernant les informations personnelles de
            vos usager, vous n'avez plus qu'à vous concentrer sur ce qui a vraiment de la valeur pour vous.
          </li>
          <li class="home-page__functionnalities__item__explanation__text">
            Lorsque vos questionnaires sont prêts à être partagé avec votre communauté il ne vous suffit que
            d'un clic pour les en informer avec un courriel aux couleurs de votre communauté.
          </li>
        </ul>
      </div>
    </div>
    <div class="home-page__functionnalities__item">
      <div class="home-page__functionnalities__item__icon">
        <i class="fas fa-laptop-code fa-4x"></i>
      </div>
      <div class="home-page__functionnalities__item__explanation">
        <h2 class="title title--secondary">
          Des algorythmes de qualité
        </h2>
        <ul>
          <li class="home-page__functionnalities__item__explanation__text">
            Les algorithmes de parrainages sont modifiables directement sur la plateforme par les administrateurs
            d'une campagne et ceux à l'aide d'une interface très simple et intuitive. Nous relevons chaque jour
            le défi de vous faire re-découvrir la simplicité.
          </li>
          <li class="home-page__functionnalities__item__explanation__text">
            Plusieurs types d'algorithmes de parrainage sont mis a votre disposition afin de correspondre au mieux à
            vos besoins et à votre communauté.
          </li>
        </ul>
      </div>
    </div>
    <div class="home-page__functionnalities__item">
      <div class="home-page__functionnalities__item__icon">
        <i class="fas fa-user-astronaut fa-4x"></i>
      </div>
      <div class="home-page__functionnalities__item__explanation">
        <h2 class="title title--secondary">
          Une communautée soudée
        </h2>
        <ul>
          <li class="home-page__functionnalities__item__explanation__text">
            Twinning program est un logiciel libre développé et maintenu par une communauté de développeur.
            Nous travaillons donc en groupe et sommes toujours à l'écoute de nouvelles idées pour
            améliorer l'expérience de nos utilisateurs.
          </li>
        </ul>
      </div>
    </div>
    <a routerLink="register" class="home-page__splash-screen__button button">
      S'inscrire maintenant
    </a>
  </div>
</div>
