@import "../../../../assets/scss/_easings.scss";
@import "../../../../assets/scss/_theme.scss";

.home-page {
  &__splash-screen {
    background-color: $secondary-color;
    color: $main-color;
    text-align: center;
    padding: 60px 30px 100px 30px;

    &__title {
      font-size: 40px;
      text-transform: capitalize;
    }

    &__sub-title {
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      margin-top: 30px;
    }

    &__text {
      max-width: 500px;
      margin: auto;
      margin-top: 50px;
    }

    &__button {
      margin-top: 50px;
    }
  }

  &__roles {
    text-align: center;
    padding: 60px;
    background-color: $main-background;

    &__list {
      max-width: 1200px;
      margin: auto;
      display: flex;

      &__role {
        padding: 40px;
        flex: 1;

        &__text {
          text-align: left;
        }
      }
    }
  }

  &__functionnalities {
    text-align: center;
    padding: 60px;
    max-width: 1200px;
    margin: auto;

    &__item {
      padding: 40px;
      display: flex;
      text-align: left;
      align-items: center;

      &__explanation {
        &__text {
          margin-top: 20px;
        }
      }

      &__icon {
        min-width: 200px;
        color: $main-color;
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .home-page {
    &__roles {
      padding: 40px 20px;

      &__list {
        &__role {
          padding: 10px;
        }
      }
    }

    &__functionnalities {
      &__item {
        &__icon {
          margin-top: 30px;
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .home-page {
    &__roles {
      &__list {
        flex-direction: column;
      }
    }

    &__functionnalities {
      &__item {
        flex-direction: column-reverse;
      }
    }
  }
}
